@import url('https://fonts.googleapis.com/css2?family='Inter', sans-serif;:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

  .topnav {
    background-color: #838383;
    overflow: hidden;
    border-radius: 100px;
  }

  .topnav a {
    float: left
  }

  .topnav_img {
    float: center
  }

/* https://fonts.google.com/icons?icon.style=Rounded */

@font-face {
  font-family: "Material Symbols Rounded";
  font-style: normal;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/materialsymbolsrounded/v164/syl7-zNym6YjUruM-QrEh7-nyTnjDwKNJ_190FjpZIvDmUSVOK7BDJ_vb9vUdV6_gjDK-P1Ju1_Zs-obHph2-jOcgjWPqw.woff2)
    format("woff2");
}

.icon {
  color: white !important;
  background-color: clear !important;
  border-color: clear !important;
  font-family: "Material Symbols Rounded";
  font-weight: normal;
  font-style: normal;
  font-size: 28px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: "liga";
  -webkit-font-smoothing: antialiased;
}
.alert {
    background-color: #ff00007a;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px; /* Adjust the width as needed */
}
.info {
    background-color: #0056ff7a;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px; /* Adjust the width as needed */
}
.confirm {
    background-color: #00ff007a;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px; /* Adjust the width as needed */
}
a:link {
  color: white;
}

a:visited {
  color: white;
}

a:hover {
  color: white;
    text-decoration: underline;
}

a:active {
  color: white;
}

a:link, a:visited {
  text-decoration: none;
}

h1 {
    font-family: 'Inter', sans-serif;;
    color: white !important;
    text-align: center;
    font-size: 80;
    font-weight: 700 !important;
}

.wikiheading {
    font-family: 'Inter', sans-serif;;
    color: white !important;
    text-align: left;
    font-size: 40;
    font-weight: 700 !important;
}
